$anchor-font-color: #666666;

$font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;

$cell-border: 1px solid #DCDCDC;

$inner-cell-width: 1px;

$disabled-color: #DCDCDC;

$cell-today-background-color: #EAEAEA;

$cell-active-background-color: #B52A00;

$cell-active-font-color: #FFFFFF;

$month-names-background-color: #F3F3F3;

$month-names-font-size: 15px;

$cell-default-padding: 3.3%;

$main-font-size: 12px;

$heading-font-weight: normal;

$heading-font-size: 2em;

$heading-margin: 12px;

$controls-font-size: 0.9em;
