@import 'themes/default';

.pickadate {
  font-family: $font-family;

  a {
    &:visited {
      color: $anchor-font-color;
    }
    color: $anchor-font-color;
  }
}

.pickadate-header {
  position: relative;
}

.pickadate-main {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: $main-font-size;
}

.pickadate-cell {
  overflow: hidden;
  margin: 0;
  padding: 0;
  li {
    display: block;
    float: left;
    border: $cell-border;
    border-width: 0 $inner-cell-width $inner-cell-width 0;
    width: 14.285%;
    padding: $cell-default-padding 0 $cell-default-padding 0;
    line-height: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &:nth-child(7n+0) {
      border-right: $cell-border;
    }
    &:nth-child(1), &:nth-child(8), &:nth-child(15), &:nth-child(22), &:nth-child(29), &:nth-child(36) {
      border-left: $cell-border;
    }
  }
  .pickadate-disabled {
    color: $disabled-color;
    a {
      color: $disabled-color;
    }
  }
  .pickadate-enabled {
    cursor: pointer;
    font-size: $main-font-size;
    color: $anchor-font-color;
  }
  .pickadate-today {
    background-color: $cell-today-background-color;
  }
  .pickadate-active {
    background-color: $cell-active-background-color;
    color: $cell-active-font-color;
  }
  .pickadate-head {
    border-top: $cell-border;
    background: $month-names-background-color;
    font-size: $month-names-font-size;
    &:nth-child(1), &:nth-child(7) {
      background: $month-names-background-color;
    }
  }
}

.pickadate-centered-heading {
  font-weight: $heading-font-weight;
  text-align: center;
  font-size: $heading-font-size;
  margin: $heading-margin 0 $heading-margin 0;
  line-height: normal;
}

.pickadate-controls {
  position: absolute;
  z-index: 10;
  width: 100%;
  .pickadate-next {
    float: right;
  }
  a {
    text-decoration: none;
    font-size: $controls-font-size;
  }
}

.pickadate-modal {
  position: absolute;
  background-color: #fff;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 5px 5px 5px;
  z-index: 1000;
}
